@use "colors";

.container {
  .logo {
    text-align: center;
  }

  .rating {
    margin: 30px auto 40px;
    padding: 5px 0;
    text-align: center;
    color: colors.$orange;
    // background-color: darken(colors.$light-grey, 35%);
    background-color: transparentize(colors.$light-grey, 0.9);
    width: 200px;
    border-radius: 50px;
  }

  h1 {
    text-align: center;
    margin-bottom: 18px;
  }

  p {
    text-align: center;
    opacity: 0.6;
    line-height: 1.5rem;
  }
}
